<div class="container office listings">
  <div class="container-fluid">
   	<div class="row">
   		<div class="col-lg-7" style="position:fixed;overflow-y:scroll;left:0;top:124px;bottom:0;">
        <div class="row">
     			<div class="col-lg-12">
              <label for="amount" style="font-size:1.7em;font-weight:300;">Prix maximum:</label>
              <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-size: 1.7em;font-weight:bold;">
            </p>
             
            <div id="slider-range-min"></div>
            <br>
            <p>
              <label for="amount2" style="font-size:1.7em;font-weight:300;">Surface maximum:</label>
              <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-size: 1.7em; font-weight:bold;">
            </p>
             
            <div id="slider-range-min2"></div>
            <br><br><br>
  						<% @offices.each do |o| %>
              <div class="col-lg-6" id="listing_hover">
                <%= link_to office_path(o) do %>
                <div class="row" id="office_image">
                  <%= image_tag o.image_url.to_s, :id => "office_listing_image" %>
  	            </div>
                <div class="row" id="office_info">
                  <div class="col-lg-12">
                  <h2><%= o.title_of_offer %><h/>
                  </div>
                  <div class="col-lg-12">
                  <p><%= o.full_street_address %></p>
                  </div>
                  <div class="col-lg-6" style="margin-top: -1em;">
                  <p><%= o.surface_min.to_i %> a <%= o.surface_max.to_i %> m²<br></p>
                  </div>
                  <div class="col-lg-6" style="margin-top: -1em;">
                  <p><%= o.price_min.to_i %> a <%= o.price_max.to_i %> <i class="fa fa-euro"></i></p>
                  </div>
                </div>
                <% end %>
                </div>
  					<% end %>
            <%= will_paginate @offices, renderer: BootstrapPagination::Rails %>
  				</div>
        </div>
   		</div>
      <div class="col-lg-5" style="float:right;">
        <div class="row">
          <div class="col-lg-12" style="padding-right:0px;">
            <div id="map-canvas">
            </div>
          </div>
        </div>
      </div>  
		</div>
	</div>
</div>
<script>
  $(function() {
    
    var mapOptions = {
      zoom: 14,
      disableDefaultUI: false,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
       
    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var infowindow = new google.maps.InfoWindow();

    var bounds  = new google.maps.LatLngBounds();
    $.getJSON('/offices.json', { page: <%= @page || 1 %>, search: '<%= @city %>' }, function(data) {
      $.each(data, function(index, office) {
        var latlng = new google.maps.LatLng(office.latitude, office.longitude);
        var markerLatLng = new google.maps.LatLng(office.latitude, office.longitude);
        var image = '/assets/icons/map-icon.png';

        bounds.extend(latlng);
        var marker = new google.maps.Marker({
            position: markerLatLng,
            icon: image,
            map: map,
            title: office.full_street_address
        });
        var contentString = '<div id="marker_content">' + '<img id="marker_image" src="https://www.sascha-kletzsch.info/klein_projekte/k_office2.jpg">' + '<h4 id="marker_heading">' + office.title_of_offer + '</h4>' + '<p id="marker_address">' + office.full_street_address + '</p>' + '<p style="float:left;" "id="marker_surface">' + office.surface_min + ' to ' + office.surface_max + ' m²</p>' + '<p style="float:right;"id="marker_price">' + office.price_min + ' to ' + office.price_max + ' €</p>' + '</div>';

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(contentString);
          infowindow.open(map,marker);
        });
      });
      map.fitBounds(bounds);
    });
  });
</script>
<script>
  $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 1000,
      min: 500,
      max: 4000,
      slide: function( event, ui ) {
        $( "#amount" ).val( "€ " + ui.value );
      }
    });
    $( "#amount" ).val( "€ " + $( "#slider-range-min" ).slider( "value" ) );
  });
</script>
<script>
  $(function() {
    $( "#slider-range-min2" ).slider({
      range: "min",
      value: 50,
      min: 1,
      max: 200,
      slide: function( event, ui ) {
        $( "#amount2" ).val( ui.value + " m2");
      }
    });
    $( "#amount2" ).val( "" + $( "#slider-range-min2" ).slider( "value" ) + " m2" );
  });
</script>