<div class="container office listings">
  <div class="container-fluid">
   	<div class="row">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-12" style="padding-left:0px;">
            <div id="map-canvas" style="width:100%;height:700px;">
            </div>
          </div>
        </div>
      </div>	

   		<div class="col-lg-7" style="position:fixed;overflow-y:scroll;right:0;top:124px;bottom:0;">
        <div class="row">
     			<div class="col-lg-12">
            <div class="row" id="filters_container" >
              <a href="#" style="color:#3d3d3d;">
              <div class="col-lg-6" style="width:32%;height:150px;border: 2px solid #f6931f; padding:1em ;font-size:2em;text-align:center;">
              
                <p><i class="fa fa-desktop fa-2x"></i><br>Open space</p>
              </div>
              </a>
              <a href="#" style="color:#3d3d3d;">
              <div class="col-lg-6" style="width:32%;height:150px;border: 2px solid #f6931f;padding: 1em; font-size:2em;text-align:center;">
              
                <p><i class="fa fa-cube fa-2x"></i><br>Bureau</p>
             
              </div>
              </a>
              <a href="#" style="color:#3d3d3d;">
              <div class="col-lg-6" style="width:32%;height:150px;border: 2px solid #f6931f; padding:1em ;font-size:2em;text-align:center;">
              
                <p><i class="fa fa-print fa-2x"></i><br>Reunion</p>
              </div>
              </a>
            </div>
            <br>
            <p>
              <label for="amount" style="font-size:1.7em;font-weight:300;">Prix maximum:</label>
              <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-size: 1.7em;font-weight:bold;">
            </p>
             
            <div id="slider-range-min"></div>
            <br>
            <p>
              <label for="amount2" style="font-size:1.7em;font-weight:300;">Surface maximum:</label>
              <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-size: 1.7em; font-weight:bold;">
            </p>
             
            <div id="slider-range-min2"></div>
            <br><br><br>
  					<ul>
  						<% @offices.each do |o| %>
  			        <li>
                  <%= link_to office_path(o) do %>
  			        	<div class="row" id="office_list">
  			            <div class="col-lg-4">
  			            	<%= image_tag o.image_url.to_s, :id => "office_listing_image" %>
  			            </div>
  			            <div class="col-lg-6">
  			            	<h2 style="margin-top:0px;margin-bottom:0px;font-size:20px;"><%= o.title_of_offer%></h2><br>
  			            	<%= o.full_street_address %><br>
  			            	<%= o.surface_min.to_i %> a <%= o.surface_max.to_i %> m²<br>
  			            	<%= o.price_min.to_i %> jusque <%= o.price_max.to_i %> <i class="fa fa-euro"></i>
  									</div>
  								</div>
                  <br>
                  <% end %>
  							</li>
  						<% end %>
  					</ul>
            <%= will_paginate @offices, renderer: BootstrapPagination::Rails %>
  				</div>
        </div>
   		</div>
		</div>
	</div>
</div>
<script>
  $(function() {
    
    var mapOptions = {
      zoom: 14,
      disableDefaultUI: false,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
       
    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    var bounds  = new google.maps.LatLngBounds();
    $.getJSON('/offices.json', { page: <%= @page || 1 %>, search: '<%= @city %>' }, function(data) {
      $.each(data, function(index, office) {
        var latlng = new google.maps.LatLng(office.latitude, office.longitude);
        var markerLatLng = new google.maps.LatLng(office.latitude, office.longitude);
        var image = '/assets/icons/map-icon.png';

        bounds.extend(latlng);
        var marker = new google.maps.Marker({
            position: markerLatLng,
            icon: image,
            map: map,
            title: office.full_street_address
        });
      });
      map.fitBounds(bounds);
    });
  });
</script>
<script>
  $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 1000,
      min: 1,
      max: 2000,
      slide: function( event, ui ) {
        $( "#amount" ).val( "€ " + ui.value );
      }
    });
    $( "#amount" ).val( "€ " + $( "#slider-range-min" ).slider( "value" ) );
  });
</script>
<script>
  $(function() {
    $( "#slider-range-min2" ).slider({
      range: "min",
      value: 200,
      min: 1,
      max: 1000,
      slide: function( event, ui ) {
        $( "#amount2" ).val( ui.value + " m2");
      }
    });
    $( "#amount2" ).val( "" + $( "#slider-range-min2" ).slider( "value" ) + " m2" );
  });
</script>