<div class="container office profile">
  <div class="container-fluid">
		<div class="row" style="padding-top:2em">
      <div class="col-lg-12">
				<%= image_tag @office.image_url.to_s, :id => "office_main_image" %>
				<div class="row" style="margin:2em;">
		      <div class="col-lg-8">
						<h1 style="font-weight:500; font-size:3em;"><%= @office.title_of_offer %></h1>
						<p style="font-size:1.6em;"><%= @office.full_street_address.upcase %></p>
					</div>
					<div class="col-lg-4">
						<button class="btn btn-default btn-primary" id="btn-form"><i class="fa fa-phone"></i>   01 92 09 49 55</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="title_of_offer" style="margin: 0 5em;">
			<div class="col-lg-4" style="border: 2px solid #e67e22;margin-left:1.5em;">
				<p style="text-align:center;"> <i class="fa fa-eur fa-3x"> </i> <br><%= @office.price_min.to_i  %> a <%= @office.price_max.to_i  %><br> par mois</p>
			</div>
			<div class="col-lg-4" style="border: 2px solid #e67e22; margin-left:4.5em;">
				<p style="text-align:center;"><i class="fa fa-cube fa-3x"></i><br><%= @office.surface_min.to_i %> a <%= @office.surface_max.to_i %> m² disponibles!</p>
			</div>
			<div class="col-lg-4" style="border: 2px solid #e67e22;margin-left:4.5em;">
				<p style="text-align:center;"><i class="fa fa-users fa-3x"></i> <br><%= @office.number_of_people %> places<br> pour vous</p>
			</div>
		</div>
		<div class="row" style="margin-bottom:2em;">
      <div class="col-lg-12">
				<div class="row">
					<div class="col-lg-7" id="office-description">
						<h3>Description du space</h3>
						<p style="text-align:justify;padding-right:2em;"><%= @office.office_description %></p>
							<div class="row" style="margin-top:2em;">
								<div class="col-lg-6">
									<h3>Informations de l'immeuble</h3>
									<ul>
										<li>Frais d'entreé : <%= @office.entry_fee %> <i class="fa fa-eur"></i></li>
										<li>Depot de Garantie : <%= Office::GUARANTEE_DEPOSITS[ @office.guarantee_deposit.to_i ] %></li>
										<li>Contrat : <%= Office::TYPE_OF_CONTRACTS[ @office.type_of_contract.to_i ] %></li>
										<li>Disponible le : <%= @office.availability %></li>
										<li>Duree minimale : <%= Office::MIN_DURATIONS[ @office.min_duration.to_i ] %></li>
										<li>Duree maximale : <%= Office::MAX_DURATIONS[ @office.max_duration.to_i ] %></li>
										<li>Etage : <%= @office.floor_number %></li>
										<li>Ascenseur : <%= Office::HAS_ELEVATORS[ @office.has_elevator.to_i ] %></li>
										<li>Lumière : <%= Office::TYPE_OF_LIGHTINGS[ @office.type_of_lighting.to_i ] %></li>
										<li>Type de space : <%= Office::TYPE_OF_OFFICE_SPACES[ @office.type_of_office_space.to_i ] %></li>
										<li>Style du space : <%= Office::OFFICE_STYLES[ @office.office_style.to_i ] %></li>
									</ul>
								</div>
								<div class="col-lg-6">
									<h3>Metro (a proximité)</h3>
									<p><i class="fa fa-circle" style="color:#FF3735;"></i>   RER A</p>
									<p><i class="fa fa-circle" style="color:#363AFF;"></i>   RER B</p>
									<p><i class="fa fa-circle" style="color:#7DFFF4;"></i>   Ligne 7</p>
									<p><i class="fa fa-circle" style="color:#CCF50D;"></i>   Ligne 10</p>
								</div>
							</div>
					</div>
					<div class="col-lg-5">
						<div class="row">
							<h3 style="margin-left: 1em;">Services</h3>
							<div class="col-lg-2">
								<% if @office.handicap_access? %>
									<p style="color:#e67e22;"><i class="fa fa-wheelchair fa-2x"></i><br>Accès<br>handicapés</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-wheelchair fa-2x"></i><br>Accès<br>handicapés</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.server_access? %>
									<p style="color:#e67e22;"><i class="fa fa-hdd-o fa-2x"></i><br>Accès<br>serveur</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-hdd-o fa-2x"></i><br>Accès<br>serveur</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.access_24_7? %>
									<p style="color:#e67e22;"><i class="fa fa-key fa-2x"></i><br>Accès<br>24/7</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-key fa-2x"></i><br>Accès<br>24/7</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.adsl? %>
									<p style="color:#e67e22;"><i class="fa fa-paper-plane fa-2x"></i><br>ADSL</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-paper-plane fa-2x"></i><br>ADSL</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.alarm? %>
									<p style="color:#e67e22;"><i class="fa fa-bell fa-2x"></i><br>Alarme</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-bell fa-2x"></i><br>Alarme</p>
								<% end %>
								</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<% if @office.shared_assistant? %>
									<p style="color:#e67e22;"><i class="fa fa-male fa-2x"></i><br>Assistante<br>partagée</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-male fa-2x"></i><br>Assistante<br>partagée</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.badge_access? %>
									<p style="color:#e67e22;"><i class="fa fa-tag fa-2x"></i><br>Badge</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-tag fa-2x"></i><br>Badge</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.cafeteria? %>
									<p style="color:#e67e22;"><i class="fa fa-cutlery fa-2x"></i><br>Cafétéria</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-cutlery fa-2x"></i><br>Cafétéria</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.lockers? %>
									<p style="color:#e67e22;"><i class="fa fa-database fa-2x"></i><br>Casier<br>fermé</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-database fa-2x"></i><br>Casier<br>fermé</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.air_conditioning? %>
									<p style="color:#e67e22;"><i class="fa fa-cube fa-2x"></i><br>Climatisation</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-cube fa-2x"></i><br>Climatisation</p>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<% if @office.storage? %>
									<p style="color:#e67e22;"><i class="fa fa-briefcase fa-2x"></i><br>Coin<br>stockage</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-briefcase fa-2x"></i><br>Coin<br>stockage</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.kitchen? %>
									<p style="color:#e67e22;"><i class="fa fa-lemon-o fa-2x"></i><br>Cuisine</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-lemon-o fa-2x"></i><br>Cuisine</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.domiciliation? %>
									<p style="color:#e67e22;"><i class="fa fa-truck fa-2x"></i><br>Domiciliation</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-truck fa-2x"></i><br>Domicialiation</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.television? %>
									<p style="color:#e67e22;"><i class="fa fa-desktop fa-2x"></i><br>Ecran TV</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-desktop fa-2x"></i><br>Ecran TV</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.independent_entrance? %>
									<p style="color:#e67e22;"><i class="fa fa-institution fa-2x"></i><br>Entrée privée</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-institution fa-2x"></i><br>Entrée privée</p>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<% if @office.fax? %>
									<p style="color:#e67e22;"><i class="fa fa-fax fa-2x"></i><br>Fax</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-fax fa-2x"></i><br>Fax</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.fibre_optic? %>
									<p style="color:#e67e22;"><i class="fa fa-space-shuttle fa-2x"></i><br>Fibre</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-space-shuttle fa-2x"></i><br>Fibre</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.cleaning_services? %>
									<p style="color:#e67e22;"><i class="fa fa-refresh fa-2x"></i><br>Ménage</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-refresh fa-2x"></i><br>Ménage</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.free_parking? %>
									<p style="color:#e67e22;"><i class="fa fa-car fa-2x"></i><br>Parking gratuit</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-car fa-2x"></i><br>Parking gratuit</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.paid_parking? %>
									<p style="color:#e67e22;"><i class="fa fa-taxi fa-2x"></i><br>Parking payant</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-taxi fa-2x"></i><br>Parking payant</p>
								<% end %>
							</div>
						</div>
						<div class="row">	
							<div class="col-lg-2">
								<% if @office.copy_machine? %>
									<p style="color:#e67e22;"><i class="fa fa-print fa-2x"></i><br>Photocopieur</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-print fa-2x"></i><br>Photocopieur</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.individual_cupboard? %>
									<p style="color:#e67e22;"><i class="fa fa-archive fa-2x"></i><br>Rangements</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-archive fa-2x"></i><br>Rangements</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.mail_reception? %>
									<p style="color:#e67e22;"><i class="fa fa-envelope fa-2x"></i><br>Réception courrier</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-envelope fa-2x"></i><br>Réception courrier</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.receptionist? %>
									<p style="color:#e67e22;"><i class="fa fa-female fa-2x"></i><br>Réceptionniste</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-female fa-2x"></i><br>Réceptionniste</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.rj45_cable? %>
									<p style="color:#e67e22;"><i class="fa fa-rocket fa-2x"></i><br>RJ45</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-rocket fa-2x"></i><br>RJ45</p>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<% if @office.scanner? %>
									<p style="color:#e67e22;"><i class="fa fa-file fa-2x"></i><br>Scanner</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-file fa-2x"></i><br>Scanner</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.tables_and_chairs? %>
									<p style="color:#e67e22;"><i class="fa fa-home fa-2x"></i><br>Tables/<br>Chaisses</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-home fa-2x"></i><br>Tables/chaisses</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.telephone? %>
									<p style="color:#e67e22;"><i class="fa fa-phone fa-2x"></i><br>Téléphone</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-phone fa-2x"></i><br>Téléphone</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.projector? %>
									<p style="color:#e67e22;"><i class="fa fa-youtube-play fa-2x"></i><br>Vidéoprojecteur</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-youtube-play fa-2x"></i><br>Vidéoprojecteur</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.wifi? %>
									<p style="color:#e67e22;"><i class="fa fa-wifi fa-2x"></i><br>WiFi</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-wifi fa-2x"></i><br>WiFi</p>
								<% end %>
							</div>
						</div>
						<div class="row">
							<h3 style="margin-left: 1em;">Espaces</h3>
							<div class="col-lg-2">
								<% if @office.waiting_room? %>
									<p style="color:#e67e22;"><i class="fa fa-circle-o fa-2x"></i><br>Espace d'attente</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-circle-o fa-2x"></i><br>Espace d'attente</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.relaxation_room? %>
									<p style="color:#e67e22;"><i class="fa fa-circle fa-2x"></i><br>Espace détente</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-circle fa-2x"></i><br>Espace détente</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.eating_room? %>
									<p style="color:#e67e22;"><i class="fa fa-coffee fa-2x"></i><br>Salle à manger</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-coffee fa-2x"></i><br>Salle à manger</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.shared_meeting_room? %>
									<p style="color:#e67e22;"><i class="fa fa-circle-thin fa-2x"></i><br>Salle partagée</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-circle-thin fa-2x"></i><br>Salle partagée</p>
								<% end %>
							</div>
							<div class="col-lg-2">
								<% if @office.paid_meeting_room? %>
									<p style="color:#e67e22;"><i class="fa fa-circle fa-2x"></i><br>Salle payante</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-circle fa-2x"></i><br>Salle payante</p>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<% if @office.private_meeting_room? %>
									<p style="color:#e67e22;"><i class="fa fa-circle-o fa-2x"></i><br>Salle privée</p>
								<% else %>
									<p style="color:#606569;"><i class="fa fa-circle-o fa-2x"></i><br>Salle privée</p>
								<% end %>
							</div>
							<div class="col-lg-2">
							</div>
							<div class="col-lg-2">
							</div>
							<div class="col-lg-2">
							</div>
							<div class="col-lg-2">
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="map-canvas">
				    <script>
				        $(function() {
				            
				            var mapOptions = {
				              center: new google.maps.LatLng(<%= @office.latitude %>, <%= @office.longitude %>),
				              zoom: 14,
				              disableDefaultUI: false,
          						scrollwheel: false,
				              mapTypeId: google.maps.MapTypeId.ROADMAP
				            };
				            
				            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
				            var infowindow = new google.maps.InfoWindow();

				            $.getJSON('/offices.json', function(data) {
				                $.each(data, function(index, value) {
				                    
				                    var markerLatLng = new google.maps.LatLng(<%= @office.latitude %>, <%= @office.longitude %>);
				                    var image = '/assets/icons/map-icon.png';
				                    var marker = new google.maps.Marker({
				                        position: markerLatLng,
				                        icon: image,
				                        map: map,
				                    });

				                    // var contentString = '<h4>' + data[index].full_street_address.toString() + '</h4>';

				                    // google.maps.event.addListener(marker, 'click', function() {
				                    //     infowindow.setContent(contentString);
				                    //     infowindow.open(map,marker);
				                    // });
				                });
				            });
				        });
				    </script>
				</div>
			</div>
		</div>
		<div class="row" style="margin:2em;">
			<div class="col-lg-12" style="text-align:center;">
				<h3>Demandez notre conseille pour trouver un Centre d'Affaires ideal.</h3>
				<button class="btn btn-default btn-primary" id="btn-form"><i class="fa fa-phone"></i>   01 92 09 49 55</button>
			</div>
		</div>
	</div>
</div>