<div class="container office profile">
    <div class="container-fluid">
        <div class="row" id="title_of_offer">
            <div class="col-lg-8">
				<h1><%= @office.title_of_offer %></h1>
				<p><%= @office.full_street_address %></p>
			</div>
			<div class="col-lg-4">
				<p><%= @office.cost_per_month.to_i  %> <i class="fa fa-eur"></i></p>
				<p><%= @office.meters_squared.to_i %> m²</p>
				<p><i class="fa fa-users"></i> <%= @office.number_of_people %></p>

			</div>
		</div>
		<div class="row">
            <div class="col-lg-8">
				<p><%= image_tag @office.image_url.to_s, :id => "office_main_image" %></p>
			</div>
			<div class="col-lg-4">
				<div id="map-canvas">
				    <script>
				        $(function() {
				            
				            var mapOptions = {
				              center: new google.maps.LatLng(<%= @office.latitude %>, <%= @office.longitude %>),
				              zoom: 12,
				              disableDefaultUI: true,
				              mapTypeId: google.maps.MapTypeId.ROADMAP
				            };
				            
				            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
				            var infowindow = new google.maps.InfoWindow();

				            $.getJSON('/offices.json', function(data) {
				                $.each(data, function(index, value) {
				                    
				                    var markerLatLng = new google.maps.LatLng(<%= @office.latitude %>, <%= @office.longitude %>);
				                    var image = '/assets/icons/map-icon.png';
				                    var marker = new google.maps.Marker({
				                        position: markerLatLng,
				                        icon: image,
				                        map: map,
				                    });

				                    // var contentString = '<h4>' + data[index].full_street_address.toString() + '</h4>';

				                    // google.maps.event.addListener(marker, 'click', function() {
				                    //     infowindow.setContent(contentString);
				                    //     infowindow.open(map,marker);
				                    // });
				                });
				            });
				        });
				    </script>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-lg-8">
				<ul>
					<li>Description du space : <strong><%= @office.office_description %></strong></li>
					
					<li>Frais d'entreé : <strong><%= @office.entry_fee %></strong></li>
					
					<li>Depot de Garantie : <strong><%= Office::GUARANTEE_DEPOSITS[ @office.guarantee_deposit.to_i ] %></strong></li>
					
					<li>Type de Contrat : <strong><%= Office::TYPE_OF_CONTRACTS[ @office.type_of_contract.to_i ] %></strong></li>
					
					<li><%= @office.availability %></li>
					
					<li>Duree minimale : <strong><%= Office::MIN_DURATIONS[ @office.min_duration.to_i ] %></strong></li>
					
					<li>Duree maximale : <strong><%= Office::MAX_DURATIONS[ @office.max_duration.to_i ] %></strong></li>
					
					<li>Etage : <strong><%= @office.floor_number %></strong></li>
					
					<li>Ascenseur : <strong><%= Office::HAS_ELEVATORS[ @office.has_elevator.to_i ] %></strong></li>
					
					<li>Lumière : <strong><%= Office::TYPE_OF_LIGHTINGS[ @office.type_of_lighting.to_i ] %></strong></li>
					
					<li>Type de space : <strong><%= Office::TYPE_OF_OFFICE_SPACES[ @office.type_of_office_space.to_i ] %></strong></li>
					
					<li>Style du space : <strong><%= Office::OFFICE_STYLES[ @office.office_style.to_i ] %></strong></li>
					
					<% if @office.server_access? %>
						<li>Accès serveur : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Accès serveur : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.adsl? %>
						<li>ADSL : <i class="fa fa-check"></i></li>
					<% else %>
						<li>ADSL : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.rj45_cable? %>
						<li>RJ45 : <i class="fa fa-check"></i></li>
					<% else %>
						<li>RJ45 : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.fibre_optic? %>
						<li>Fibre : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Fibre : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.wifi? %>
						<li>WiFi : <i class="fa fa-check"></i></li>
					<% else %>
						<li>WiFi : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.handicap_access? %>
						<li>Accès handicapés : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Accès handicapés : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.air_conditioning? %>
						<li>Climatisation : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Climatisation : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.cafeteria? %>
						<li>Cafétéria : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Cafétéria : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.kitchen? %>
						<li>Cuisine : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Cuisine : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.waiting_room? %>
						<li>Espace d'attente : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Espace d'attente : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.relaxation_room? %>
						<li>Espace détente : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Espace détente : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.cleaning_services? %>
						<li>Ménage : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Ménage : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.eating_room? %>
						<li>Salle à manger : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Salle à manger : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.storage? %>
						<li>Coin stockage : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Coin stockage : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.television? %>
						<li>Ecran TV : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Ecran TV : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.fax? %>
						<li>Fax : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Fax : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.copy_machine? %>
						<li>Photocopieur : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Photocopieur : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.individual_cupboard? %>
						<li>Rangements individuels : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Rangements individuels : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.scanner? %>
						<li>Scanner : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Scanner : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.tables_and_chairs? %>
						<li>Tables/chaisses : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Tables/chaisses : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.telephone? %>
						<li>Téléphone : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Téléphone : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.projector? %>
						<li>Vidéoprojecteur : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Vidéoprojecteur : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.shared_assistant? %>
						<li>Assistante partagée : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Assistante partagée : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.domiciliation? %>
						<li>Domiciliation : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Domiciliation : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.free_parking? %>
						<li>Parking gratuit : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Parking gratuit : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.paid_parking? %>
						<li>Parking payant : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Parking payant : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.mail_reception? %>
						<li>Réception courrier : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Réception courrier : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.receptionist? %>
						<li>Réceptionniste : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Réceptionniste : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.shared_meeting_room? %>
						<li>Salle de réunion partagée : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Salle de réunion partagée : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.paid_meeting_room? %>
						<li>Salle de réunion payante : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Salle de réunion payante : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.private_meeting_room? %>
						<li>Salle de réunion privée : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Salle de réunion privée : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.access_24_7? %>
						<li>Accès 24/7 : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Accès 24/7 : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.badge_access? %>
						<li>Accès par badge : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Accès par badge : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.alarm? %>
						<li>Alarme : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Alarme : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.lockers? %>
						<li>Casier fermé : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Casier fermé : <i class="fa fa-times"></i></i></i>
					<% end %>

					<% if @office.independent_entrance? %>
						<li>Entrée indépendante : <i class="fa fa-check"></i></li>
					<% else %>
						<li>Entrée indépendante : <i class="fa fa-times"></i></i></i>
					<% end %>

					<li><%= @office.company_name %></li>
					
					<li>Type de boite : <strong><%= Office::TYPE_OF_COMPANIES[ @office.type_of_company.to_i ] %></strong></li>
					
					<li>Activité : <strong><%= Office::COMPANY_ACTIVITIES[ @office.company_activity.to_i ] %></strong></li>
										
					<li>Site web : <strong><a href="<%= @office.company_website %>"><%= @office.company_website %></a></strong></li>
					
					<li>Descriptions des services : <strong><%= @office.company_description %></strong></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
