<div class="container office profile">
  <div class="container-fluid">
    <div class="row" id="title_of_offer">
      <div class="col-lg-8" style="background-color:#e67e22;padding-left:50px;padding-bottom:20px;">
				<h1><%= @office.title_of_offer %></h1>
				<p><%= @office.full_street_address %></p>
		  </div>
		  <div class="col-lg-4" style="padding-left:50px; padding-top:20px;padding-bottom:10px;">
				<p><%= @office.price_min.to_i  %> a <%= @office.price_max.to_i  %> <i class="fa fa-eur"> par mois</i></p>
				<p><%= @office.surface_min.to_i %> a <%= @office.surface_max.to_i %> m² disponibles!</p>
				<p><i class="fa fa-users"></i> <%= @office.number_of_people %> places pour vous</p>
		  </div>
		</div>
		<div class="row">
      <div class="col-lg-7">
				<p><%= image_tag @office.image_url.to_s, :id => "office_main_image" %></p>
			</div>
			<div class="col-lg-5">
				<div id="map-canvas">
				    <script>
				        $(function() {
				            
				            var mapOptions = {
				              center: new google.maps.LatLng(<%= @office.latitude %>, <%= @office.longitude %>),
				              zoom: 14,
				              disableDefaultUI: false,
          						scrollwheel: false,
				              mapTypeId: google.maps.MapTypeId.ROADMAP
				            };
				            
				            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
				            var infowindow = new google.maps.InfoWindow();

				            $.getJSON('/offices.json', function(data) {
				                $.each(data, function(index, value) {
				                    
				                    var markerLatLng = new google.maps.LatLng(<%= @office.latitude %>, <%= @office.longitude %>);
				                    var image = '/assets/icons/map-icon.png';
				                    var marker = new google.maps.Marker({
				                        position: markerLatLng,
				                        icon: image,
				                        map: map,
				                    });

				                    // var contentString = '<h4>' + data[index].full_street_address.toString() + '</h4>';

				                    // google.maps.event.addListener(marker, 'click', function() {
				                    //     infowindow.setContent(contentString);
				                    //     infowindow.open(map,marker);
				                    // });
				                });
				            });
				        });
				    </script>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top:30px;">
      <div class="col-lg-8">
				<ul>
					<div class="row">
						<div class="col-lg-8" id="office-description">
							<li ><strong><span style="font-size:20px;">Description du space</span></strong><br><%= @office.office_description %></li>
						</div>
						<div class="col-lg-4" id="office-description">
							<p style="font-size:20px;"><strong>Information</strong></p>
							<li>Frais d'entreé : <strong><%= @office.entry_fee %> <i class="fa fa-eur"></i></strong></li>
							
							<li>Depot de Garantie : <strong><%= Office::GUARANTEE_DEPOSITS[ @office.guarantee_deposit.to_i ] %></strong></li>
							
							<li>Contrat : <strong><%= Office::TYPE_OF_CONTRACTS[ @office.type_of_contract.to_i ] %></strong></li>
							
							<li>Disponible le : <strong><%= @office.availability %></strong></li>
							
							<li>Duree minimale : <strong><%= Office::MIN_DURATIONS[ @office.min_duration.to_i ] %></strong></li>
							
							<li>Duree maximale : <strong><%= Office::MAX_DURATIONS[ @office.max_duration.to_i ] %></strong></li>
							
							<li>Etage : <strong><%= @office.floor_number %></strong></li>
							
							<li>Ascenseur : <strong><%= Office::HAS_ELEVATORS[ @office.has_elevator.to_i ] %></strong></li>
							
							<li>Lumière : <strong><%= Office::TYPE_OF_LIGHTINGS[ @office.type_of_lighting.to_i ] %></strong></li>
							
							<li>Type de space : <strong><%= Office::TYPE_OF_OFFICE_SPACES[ @office.type_of_office_space.to_i ] %></strong></li>
							
							<li>Style du space : <strong><%= Office::OFFICE_STYLES[ @office.office_style.to_i ] %></strong></li>
						</div>
					</div>
				</ul>
			</div>
			<div class="col-lg-4" id="company-info">
				<ul>
					<li style="font-weight:bold; font-size:20px; padding-bottom:10px;">Contactez nous!</li>
					<li><i class="fa fa-cube"></i> <strong><%= @office.company_name %></strong></li>
											
					<li><i class="fa fa-phone"></i>  <strong>01 92 09 49 55</strong></li>

					<li><i class="fa fa-envelope"></i> <strong>contact@test.com</strong></li>
										
					<li><i class="fa fa-globe"></i> <strong><a href="<%= @office.company_website %>"><%= @office.company_website %></a></strong></li>
					
					<button class="btn btn-default btn-primary" id="btn-form">Contact</button>
				</ul>
			</div>			
		</div>
		<div class="row" style="padding-top:50px; padding-bottom:50px;">
			<div class="col-lg-8">
				<div class="row">
					<ul>
						<p style="font-size:20px;font-weight:bold;padding-bottom: 15px;padding-left:15px;text-align:center;">Tous les services <span style="color: #2ecc71;">disponibles</span> dans ce Centre d'Affaires!</p>
						<div class="col-lg-2">
							<% if @office.handicap_access? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-wheelchair fa-2x"></i><br>Accès handicapés</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-wheelchair fa-2x"></i><br>Accès handicapés</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.badge_access? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-tag fa-2x"></i><br>Accès par badge</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-tag fa-2x"></i><br>Accès par badge</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.server_access? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-hdd-o fa-2x"></i><br>Accès serveur</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-hdd-o fa-2x"></i><br>Accès serveur</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.access_24_7? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-key fa-2x"></i><br>Accès 24/7</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-key fa-2x"></i><br>Accès 24/7</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.adsl? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-paper-plane fa-2x"></i><br>ADSL</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-paper-plane fa-2x"></i><br>ADSL</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.alarm? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-bell fa-2x"></i><br>Alarme</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-bell fa-2x"></i><br>Alarme</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.shared_assistant? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-male fa-2x"></i><br>Assistante partagée</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-male fa-2x"></i><br>Assistante partagée</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.cafeteria? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-cutlery fa-2x"></i><br>Cafétéria</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-cutlery fa-2x"></i><br>Cafétéria</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.lockers? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-database fa-2x"></i><br>Casier fermé</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-database fa-2x"></i><br>Casier fermé</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.air_conditioning? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-cube fa-2x"></i><br>Climatisation</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-cube fa-2x"></i><br>Climatisation</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.storage? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-briefcase fa-2x"></i><br>Coin stockage</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-briefcase fa-2x"></i><br>Coin stockage</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.kitchen? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-lemon-o fa-2x"></i><br>Cuisine</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-lemon-o fa-2x"></i><br>Cuisine</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.domiciliation? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-truck fa-2x"></i><br>Domiciliation</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-truck fa-2x"></i><br>Domicialiation</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.television? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-desktop fa-2x"></i><br>Ecran TV</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-desktop fa-2x"></i><br>Ecran TV</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.independent_entrance? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-institution fa-2x"></i><br>Entrée privée</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-institution fa-2x"></i><br>Entrée privée</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.waiting_room? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-circle-o fa-2x"></i><br>Espace d'attente</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-circle-o fa-2x"></i><br>Espace d'attente</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.relaxation_room? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-circle fa-2x"></i><br>Espace détente</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-circle fa-2x"></i><br>Espace détente</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.fax? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-fax fa-2x"></i><br>Fax</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-fax fa-2x"></i><br>Fax</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.fibre_optic? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-space-shuttle fa-2x"></i><br>Fibre</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-space-shuttle fa-2x"></i><br>Fibre</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.cleaning_services? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-refresh fa-2x"></i><br>Ménage</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-refresh fa-2x"></i><br>Ménage</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.free_parking? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-car fa-2x"></i><br>Parking gratuit</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-car fa-2x"></i><br>Parking gratuit</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.paid_parking? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-taxi fa-2x"></i><br>Parking payant</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-taxi fa-2x"></i><br>Parking payant</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.copy_machine? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-print fa-2x"></i><br>Photocopieur</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-print fa-2x"></i><br>Photocopieur</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.individual_cupboard? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-archive fa-2x"></i><br>Rangements</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-archive fa-2x"></i><br>Rangements</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.mail_reception? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-envelope fa-2x"></i><br>Réception courrier</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-envelope fa-2x"></i><br>Réception courrier</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.receptionist? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-female fa-2x"></i><br>Réceptionniste</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-female fa-2x"></i><br>Réceptionniste</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.rj45_cable? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-rocket fa-2x"></i><br>RJ45</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-rocket fa-2x"></i><br>RJ45</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.eating_room? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-coffee fa-2x"></i><br>Salle à manger</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-coffee fa-2x"></i><br>Salle à manger</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.shared_meeting_room? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-circle-thin fa-2x"></i><br>Salle partagée</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-circle-thin fa-2x"></i><br>Salle partagée</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.paid_meeting_room? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-circle fa-2x"></i><br>Salle payante</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-circle fa-2x"></i><br>Salle payante</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.private_meeting_room? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-circle-o fa-2x"></i><br>Salle privée</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-circle-o fa-2x"></i><br>Salle privée</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.scanner? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-file fa-2x"></i><br>Scanner</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-file fa-2x"></i><br>Scanner</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.tables_and_chairs? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-home fa-2x"></i><br>Tables/chaisses</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-home fa-2x"></i><br>Tables/chaisses</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.telephone? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-phone fa-2x"></i><br>Téléphone</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-phone fa-2x"></i><br>Téléphone</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.projector? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-youtube-play fa-2x"></i><br>Vidéoprojecteur</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-youtube-play fa-2x"></i><br>Vidéoprojecteur</li>
							<% end %>
						</div>
						<div class="col-lg-2">
							<% if @office.wifi? %>
								<li style="text-align:center;color:#2ecc71;"><i class="fa fa-wifi fa-2x"></i><br>WiFi</li>
							<% else %>
								<li style="text-align:center;color:#606569;"><i class="fa fa-wifi fa-2x"></i><br>WiFi</li>
							<% end %>
						</div>
					</ul>
					</div>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer2' %> 
<%= render 'layouts/footer' %> 