<div class="container profile form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="form-group">
                        <%= f.text_field :first_name, autofocus: true, :placeholder => "First name" %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.text_field :last_name, autofocus: true, :placeholder => "Last name" %>
                    </div>

                    <div class="form-group">
                        <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
                    </div>

                    <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password (leave blank if you don't want to change it)" %>
                    </div>

                    <div class="form-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password confirmation" %>
                    </div>

                    <div class="form-group">
                        <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Current password (we need it for password changes)" %>
                    </div>

                    <div>
                        <%= f.submit "Update", :class => "btn btn-default", :id => "btn-form" %><br /><br />
                    </div>
                <% end %>
        
                <!-- <h3>Cancel my account</h3>
                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
                <%= link_to "Back", :back %> -->
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</div>
