<div class="container profile form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<h2>Oublié votre mot de pass?</h2>
					<%= devise_error_messages! %>

					<div class="form-group">
						<div><%= f.email_field :email, autofocus: true %></div>
					</div>

					<div><%= f.submit "Envoyez", :class => "btn btn-default", :id => "btn-form" %><br /><br /></div>
				  	<%= render "devise/shared/links" %>
				<% end %>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</div>
