<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Centre d'Affaires" %></title>
        <meta name="description" content="Centre d'Affaires">
        <meta name="author" content="OCP Finance">
        <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true  %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/rocket.png">
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
        <script src="/assets/geocomplete.js"></script>
        <%= csrf_meta_tag %>
        <%= yield(:head) %>
    </head>
    <body>
        <%= render 'layouts/navigation' %>
            <%= yield %>
    </body>
</html>